html, body {
    background: #fafafa;
    height: initial !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

@media only screen and (max-width: 480px) {
    .fluid--mobile {
        width: 100%;
    }
    .large--mobile {
        font-size: 1.14285714rem !important;
    }
}
